* {
  margin: 0;
  padding: 0;
  border: 0;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

.site {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.site-content {
	flex: 1;
}

.favicon {
  width: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Home */
.home {
  background-image: url("../images/home-bkgnd.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: "PT Serif";
  position: relative;
  z-index: -1;
}

section#home {
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
  background-color: #d9d9d9;
  width: auto;
  padding: 1% 0 1% 0;
}
/* Text Styling */

article {
  font-family: "Lato";
  font-size: 1em;
  color: #4A4A4A;
  padding: 3% 25% 0 0;
  position: relative;
  /*display: inline-block;*/
}
/*I need to make it so text doesn't go below photo*/
aside {
  font-family: "Lato";
  font-size: 1em;
  color: #4A4A4A;
  padding: 3% 25% 0 0;
  position: relative;
  /*display: inline-block;*/
}


figcaption {
  font-family: "Lato";
  font-size: 15px;
  color: black;
  line-height: 25px;
}

h1 {
  font-size: 2em;
  font-family: "PT Serif";
  color: #4A4A4A;
  letter-spacing: normal;
  text-align: center;
  padding: 2% 0 2% 0;
  background-color: #97C4D1;

}

h2 {
  font-size: 1.5em;
  padding: 3% 0 0 250px;
  font-family: "PT Sans";
}

h3 {
  padding: 0 0 0 280px;
  font-family: "Lato";
  font-size: 20px;
}

h4 {
  text-align: center;
  font-size: 4em;
  font-family: "PT Serif";
  color: #4A4A4A;
  letter-spacing: normal;
  position: relative;
}

h5 {
  text-align: center;
  font-size: 15px;
  font-family: "Lato";
  color: black;
  letter-spacing: normal;
}

p {
  font-family: "Lato";
  font-size: 18px;
  color: black;
  padding: 0 200px 0 300px;
}
/* Navigation Sidebar */
nav ul li {
  display: block;
}

.navigation {
  background: white;
  line-height: 40px;
  border-radius: 15px;
  border-color: #010C36;
  border-style: solid;
  border-width: thick;
  position: fixed;
  color: black;
  padding: 10px 20px;
  text-align: center;
  right: 50px;
  top: 200px;
  margin: auto;
  font-family: "PT Serif";
  text-shadow: 1px 1px lightgray;
  z-index: 1;
}

a:link {
  color: black;
}
a:visited {
  color: black;
  font-family: "Lato";
}

a:hover {
  color: darkgray;
}

/* About */
.paige {
  width: 20%;
  padding: 3% 10px 30px 200px;
  float: left;
}
/*I want to get rid of the float but still have the picture to the left of the text, and I don't want any of the text to go below the photo*/

.about {
  background-color: #F5E6E8;
  display: inline-block;
  padding: 0 0 5% 0;
  /*display: inline-block;*/
}
/* Resume */
.resume {
  background-image: url("../images/resume-bkgnd.jpg");
}

.resume-content {
  padding: 0 0 50px 50px;
  line-height: 30px;
}
/* Work */
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #F2B6E2;
  color: #4A4A4A;
  cursor: pointer;
  padding: 2%;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1rem;
  font-family: "Lato";
  border-radius: 1%;
  border-style: double;
  border-color: #A66F89;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #A66F89;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  font-size: .8rem;
  background-color: #F5E6E8;
  padding: 3% 10% 3% 10%;
}

.content2 {
  font-size: .8rem;
  background-color: #F5E6E8;
  padding: 3% 15% 3% 15%;
}

.f211, .f212, .f213, .f214 {
  max-width: 100%;
}

.ai1, .ai2, .ai3 {
  max-width: 100%;
}

.image-grid {
	display: flex;
	flex-wrap: nowrap;
	/* justify-content: space-between; */
	/* max-width: 600px; */
	margin: auto;
  justify-content: center;
  align-items: flex-start;
}

.image-grid2 {
	display: flex;
	flex-wrap: nowrap;
	/* justify-content: space-between; */
	/* max-width: 600px; */
	margin: auto;
  justify-content: center;
  align-items: flex-start;
}
/* Contact */
.facebook, .twitter, .linkedin {
  width: 70px;
  padding: 60px 100px 60px 300px;
}

.contact {
  background-image: url("../images/contact-bkgnd.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px 0 20px 0;
}

.contactform {
    padding: 60px 100px 60px 300px;
}

.test_form {
  max-width: 500px;
  border-radius: 10px;
  color: black;
  padding: 0 0 0 50px;
  margin: 40px auto;
  font-family: "Lato";
  display: block;
}

.submit input {
  background: white;
  color: black;
  padding: 5px 20px;
  border-radius: 4px;
  font-family: "PT Sans";
}

footer {
  background-color: #fed3ce;
  height: 40px;
  text-align: center;
  padding: 15px 0 0 0;
}

/* Image Hover */
.facebook:hover {
width: 72px;
}

.twitter:hover {
width: 72px;
}

.linkedin:hover {
width: 72px;
}

/*Home Animation */

h4 {
  animation: fadeInAnimation ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
