* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Home */
.home {
  background-image: url("../images/home-bkgnd.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: "PT Serif";
  position: relative;
  z-index: -1;
}

section#home {
    height: 100vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
  background-color: #d9d9d9;
  width: auto;
  height: 20px;
}
/* Text Styling */

article {
  font-family: "Lato";
  font-size: 1em;
  color: black;
  padding: 3% 25% 0 0;
  position: relative;
}
/*I need to make it so text doesn't go below photo*/
aside {
  font-family: "Lato";
  font-size: 1em;
  color: black;
  padding: 3% 25% 0 0;
  position: relative;
}


figcaption {
  font-family: "Lato";
  font-size: 15px;
  color: black;
  line-height: 25px;
}

h1 {
  font-size: 2em;
  font-family: "PT Serif";
  color: black;
  letter-spacing: normal;
  text-align: center;
  padding: 2% 0 2% 0;
  background-color: lightblue;

}

h2 {
  font-size: 1.5em;
  padding: 3% 0 0 250px;
  font-family: "PT Sans";
}

h3 {
  padding: 0 0 0 280px;
  font-family: "Lato";
  font-size: 20px;
}

h4 {
  text-align: center;
  font-size: 4em;
  font-family: "PT Serif";
  color: black;
  letter-spacing: normal;
  position: relative;
}

h5 {
  text-align: center;
  font-size: 15px;
  font-family: "Lato";
  color: black;
  letter-spacing: normal;
}

p {
  font-family: "Lato";
  font-size: 18px;
  color: black;
  padding: 0 200px 0 300px;
}
/* Navigation Sidebar */
nav ul li {
  display: block;
}

.navigation {
  background: white;
  line-height: 40px;
  border-radius: 15px;
  border-color: #d9d9d9;
  border-style: solid;
  border-width: thick;
  position: fixed;
  color: black;
  padding: 10px 20px;
  text-align: center;
  right: 50px;
  top: 200px;
  margin: auto;
  font-family: "PT Serif";
  text-shadow: 1px 1px lightgray;
  z-index: 1;
}

a:link {
  color:black;
  text-decoration: none;
}
a:visited {
  color:black;
  text-decoration: none;
  font-family: "Lato";
}

a:hover {
  color: darkgray;
}

/* About */
.paige {
  width: 20%;
  padding: 3% 10px 30px 200px;
  float: left;
}

.about {
  background-color: #fed3ce;
  display: inline-block;
  padding: 0 0 5% 0;
}
/* Resume */
.resume {
  background-image: url("../images/resume-bkgnd.jpg");
}

.resume-content {
  padding: 0 0 50px 50px;
  line-height: 30px;
}
/* Work */
.work {
  background-color: #fed3ce;
  padding: 0 0 40px 0;
}

.f21, .portiko, .tesla {
  width: 250px;
  padding-top: 3%;
}

.work-images {
  padding: 0 200px 0 300px;
}
/* Contact */
.facebook, .twitter, .linkedin {
  width: 70px;
  padding: 60px 100px 60px 300px;
}

.contact {
  background-image: url("../images/contact-bkgnd.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px 0 20px 0;
}

.contactform {
    padding: 60px 100px 60px 300px;
}

.test_form {
  max-width: 500px;
  border-radius: 10px;
  color: black;
  padding: 0 0 0 50px;
  margin: 40px auto;
  font-family: "Lato";
  display: block;
}

.submit input {
  background: white;
  color: black;
  padding: 5px 20px;
  border-radius: 4px;
  font-family: "PT Sans";
}

footer {
  background-color: #fed3ce;
  height: 40px;
  text-align: center;
  padding: 15px 0 0 0;
}

/* Image Hover */
.facebook:hover {
width: 72px;
}

.twitter:hover {
width: 72px;
}

.linkedin:hover {
width: 72px;
}

/*Home Animation */

h4 {
  animation: fadeInAnimation ease 10s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
